Repository wynn-rj/sword-and-bored-game, pull requests merged in 2020-03, with the labels that each got.

#210 Fix city ownership display
  Assets/Scripts/Strategy/BaseManagement/Towns/TownDispatcher.cs
Labels: bug, high-priority, strategy view

#245 Allow manual setting of enemy movement goal
  Assets/Scripts/Strategy/Movement/EnemyMovementController.cs
Labels: enhancement, low-priority, strategy view

#248 Add missing directory
  Assets/StreamingAssets/UserSaves.meta
  Assets/StreamingAssets/UserSaves/.gitignore
Labels: bug, game data

#254 Bufixes
  Assets/Scenes/MainMenu.unity
  Assets/Scripts/Battlefield/CreatureScripts/UnitAbilitiesContainer.cs
  Assets/Scripts/Battlefield/MovementSystemScripts/MovementSystem.cs
  Assets/Scripts/Battlefield/StateBehaviors/PlayerAbilityStateBehavior.cs
  Assets/Scripts/Battlefield/StateBehaviors/PlayerTurnStateBehavior.cs
  Assets/Scripts/GameData/Units/EnemySquad.cs.meta
  Assets/Scripts/GameData/Units/IEnemySquad.cs.meta
  ProjectSettings/EditorBuildSettings.asset
  ProjectSettings/QualitySettings.asset
Labels: battlefield view, bug, high-priority

#258 add null checking
  Assets/Scripts/Battlefield/CreatureScripts/UniqueCreature.cs
Labels: bug

#261 fixes base location, extra check to set ids to null if not valid
  Assets/Scripts/GameData/Database/DatabaseHelper.cs
  Assets/StreamingAssets/GameSaves/Default.db
Labels: bug, game data
